#btn-whatsapp{
    position: fixed;
    bottom: 70px;
    right: 3%;
    width: 65px;
    height: 65px;
    z-index:1000;
}

#btn-whatsapp:hover{
    scale: 1.1;
}

#btn-whatsapp img{
    width: 100%;
    height: 100%;
}