/*
    Navbar
*/
.navbar{
    height: 100px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 7px #DCDCDC;
    top: 0;
}

.vazio{
    width: 100%;
    height: 100px;
}

/*
    politicas
*/

.titulo{
    font-family: BeVietnamPro-bold;
    font-size: 2rem;
    color: #074058;
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}

.info h1{
    font-family: BeVietnamPro-bold;
    color: #074058;
    font-size: 1.7rem;
    margin-top: 40px;
    margin-bottom: 25px;
}


@media screen and (max-width:800px){

    .vazio{
        display: inline-block;
        height: 100px;
    }

   .info h1{
        font-family: BeVietnamPro-bold;
        color: #074058;
        font-size: 1.1rem;
        margin-top: 40px;
        margin-bottom: 25px;
    }

    p{
        text-align: center;
    }
}


@media screen and (max-width:500px){

    

    
}

