*{
    font-family: BeVietnamPro-regular;
    text-align: justify;
}

body{
    overflow-x: hidden;
}

/*
    Navbar
*/

#navbar{
    background-color: #FFFFFF;
    height: 70px;
    visibility: hidden;
    transition: .5s;
    top: 0px;
}

#navbar.rolagem{
    background-color: #FFFFFF;
    visibility: visible;
    border-bottom: 0.2px solid #DCDCDC;
    top: 0px;
}

.navbar-brand{
    width: 30%;
}

.navbar-brand img{
    width: 380px;
    height: 60px;
}

.navbar-nav{
    width: 100%;
    justify-content: end;
    padding-right: 12%;
}

.nav-link{
    color: #000000;
    font-family: BeVietnamPro-regular;
    font-size: 1rem;
}

.nav-link:hover{
    color: #FF601A;
}

/*
    Footer
*/

footer{
    background-color: #2E3230;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #FFFFFF;
}

#footer-part1{
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}

#footer-col1,#footer-col2,#footer-col3{
    padding-left: 5%;
    padding-right: 5%;
    height: 340px;
}

#footer-col1 img{
    width: 325px;
    height: 50px;
    margin-bottom: 20px;
}

#footer-col1 p{
    text-align: justify;
    font-size: 1.1rem;
}

.footer-icons-redes{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 2rem;
    margin-right: 15px;
}

.footer-icons-redes:hover{
    font-size: 2.05rem;   
}

#footer-col2 h3{
    margin-bottom: 20px;
}

.footer-contato,.footer-links{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1rem;
}

.footer-contato a, .footer-links a{
    text-decoration: none;
    color: #FFFFFF;
}

.footer-contato a:hover, .footer-links a:hover{
    font-size: 1.05rem;
}

#footer-col3 h3{
    margin-bottom: 20px;
}

.footer-contato i, .footer-links i{
    margin-right: 7px;
}

#box-icon-endereco{
    display: flex;
    align-items: start;  
}

#footer-linha{
    width: 95%;
    height: 1px;
    background-color: #FFFFFF;
    margin-bottom: 50px;
}

#footer-part2{
    padding-left: 2.5%;
}

@media screen and (max-width:1200px){

    /* 
        navbar
    */

    #navbar-contato{
        display: none;
    }

    #navbar{
        height: 70px;
        background-color: #FFFFFF;
        top: 0px;
        border-bottom: 0.2px solid #DCDCDC;
        visibility: visible;
    }
    
    #navbar div{
        background-color: #FFFFFF;
        padding: unset;
        position: relative;
        top: 0px;
    }
    
    .navbar-brand img{
        width: 300px;
        height: 65px;
    }

    .navbar-toggler{
        position: relative;
        right: 5%;
    }

    .navbar-collapse{
        background-color: #FFFFFF;
        position: relative;
        top: 50px;
        width: 100%;
    }

    .navbar-nav{
        width: 100%;
        padding-left: 15px;
    }

    /* 
        footer
    */

    #footer-part1{
        display: inline-block;
        align-items: center;
        padding-bottom: unset;
    }

    #footer-col1,#footer-col2,#footer-col3{
        margin-bottom: 70px;
        width: 100%;
        height: unset;
    }

    #footer-col1 img{
        width: 250px;
    }
    
}

@media screen and (max-width:800px){

    .navbar-nav{
        box-shadow: 1px 1px 2px #DCDCDC;
    }

    .navbar-brand img{
        position: relative;
        left: -30%;
    }

    #navbar div{
        border-bottom: 0.2px solid #DCDCDC;
    }

}

@media screen and (max-width:400px){

    .navbar-brand img{
        position: relative;
        left: -60%;
    }

}

